.headerContainer
{
    background-color: rgb(239, 248, 252);
    height: 100px;
    display: inline;

    .headerDisplay {
        background-color: aqua;
        display: inline-block;
        height: auto;
        //width: auto;
        margin: 5px;
        //border-style: solid;
        //float: right;
        
        .docAvatar {
           // background-color:red;
            //border-style: solid;
            display: inline;
            vertical-align: middle;
            display: flex;
            width: 70px;
            height: 70px;
            border-radius: 50%;
            position: absolute;
            right: 10px;
            border: solid 4px whitesmoke;
            
        }

        .dropdownConents{
            overflow: hidden;
            //transition: all .3s ease;
           // line-height: 0;
            padding: 3px;
            color: transparent;
            //-webkit-font-smoothing: antialiased;
            border-radius: 15px;
        }
    
        
        .docAvatar:hover {
            //opacity: 60%;
            cursor: pointer;
            -moz-box-shadow: 3px 2px 5px rgb(0, 0, 0);
            -webkit-box-shadow: 3px 2px 5px #000;
            box-shadow: 3px 2px 5px #999;
            transition: 0.5s;
        }
    
        .inventoLogo {
            position: absolute;
            //width: 50%;
            //display: inline;
            top: 5px;
            left: 10px;
            padding: 10px;
            margin-left: 10px;
           //background-color: saddlebrown;
    
        }
    
        
      /*  .headerIcons{
            display: flex;
            position: absolute;
            padding: 10px;
            margin: 10px;
            right: 60px;
            //background-color: beige;
        
            button {
                  border-radius: 5px;
                  outline: none;
                  border: none;
                  //display: none;
                  cursor: pointer;
                  background-color: white;
        
                  mat-icon {
                    transform: scale(1.25);
                  }
            }
    
    
        }
    
        .headerIcons:hover {
            transform:scale(1.1);
        }*/
        
    }

    .headerMenu {
        margin-top: 25px;
        justify-content: center;
        text-align: center;
        font-size: 20px;
        //vertical-align: middle;
        ul{
            list-style: none;
            margin-left: 15rem;
            display:inline-flex;
            //background-color: lightcoral;
            //padding: 10px;
            width: 400px;
            text-align: center;
            li{
                padding-right: 15px;
            }
        }
    }
    
    .sayHello {
        display: inline;
        //background-color: slategrey;
        justify-content: center;
        float: left;
        padding: 10px;
        margin-left: 250px;
        margin-top: 40px;
        
        h2{
            font-family: sans-serif;
            text-align: center;
            width: 350px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
    
        }
    }

    .toggle {

        margin-top: 45px;
        float: right;
        margin-right: 10rem;

        .cm-toggle{
            -webkit-appearance: none;
	        -webkit-tap-highlight-color: transparent;
	        position: relative;
	        border: 0;
	        outline: 0;
	        cursor: pointer;
	        margin: 10px;
        }

        #onButton::after {
            background-color: red;
        }

        .cm-toggle:after {
            content: '';
            width: 30px;
            height: 14px;
            display: inline-block;
            background: rgba(196, 195, 195, 0.55);
            border-radius: 9px;
            clear: both;
        }

        .cm-toggle:before {
            content: '';
            width: 16px;
            height: 16px;
            display: block;
            position: absolute;
            left: 0;
            top: 2px;
            border-radius: 50%;
            background: rgb(255, 255, 255);
            box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
        }

        #onButton:checked::after {
            background-color: rgb(36, 253, 36);
        }

        .cm-toggle:checked:before {
            left: 16px;
            box-shadow: -1px 1px 3px rgba(0, 0, 0, 0.6);
        }
        /* Background color when toggle button will be active */
        .cm-toggle:checked:after {
            background: #0388e0;
        }

        .cm-toggle,
        .cm-toggle:before,
        .cm-toggle:after,
        .cm-toggle:checked:before,
        .cm-toggle:checked:after {
	        transition: ease .3s;
	        -webkit-transition: ease .3s;
	        -moz-transition: ease .3s;
	        -o-transition: ease .3s;
        }


    }
}
