@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
  

.headerContainer
{
    background-color: rgb(239, 248, 252);
    height: fit-content;
    //display: block;
    display: grid;
    grid-template-columns: 20% 46% 26% 8%;
    //padding: 5px;

    .inventoLogo 
    {
        //position: absolute;
        //width: 50%;
        //display: inline;
        //top: 5px;
        //left: 10px;
        padding-top: 5px;
        margin: 1rem;
        //background-color: saddlebrown;

    }

    

    .headerDisplay {
        //background-color: aqua;
        height: auto;
        padding: 10px;
        padding-bottom: 0px;
        width: fit-content;
        margin: 5px;
        margin-bottom: 0px;
        float: right;
        //border-style: solid;
        position: relative;


        .docAvatar {
            // background-color:red;
             //border-style: solid;
             //display: inline;
             float: right;
             vertical-align: middle;
             //display: flex;
             width: 70px;
             height: 70px;
             border-radius: 50%;
             //position: absolute;
             //right: 10px;
             border: solid 4px whitesmoke;
             
        }
    
        .docAvatar:hover {
            //opacity: 60%;
            cursor: pointer;
            -moz-box-shadow: 3px 2px 5px rgb(0, 0, 0);
            -webkit-box-shadow: 3px 2px 5px #000;
            box-shadow: 3px 2px 5px #999;
            transition: 0.5s;
        }
        
    }

    .sayHello {
        //display: inline;
        //background-color: slategrey;
        width: fit-content;
        justify-content: center;
        float: left;
        padding: 10px;
        padding-bottom: 0px;
        margin-left: 15px;
        margin-top: 45px;
        margin-bottom: 0px;
        position: relative;
        
        h2{
            font-family: 'PT Sans', sans-serif;
            font-size: 23px;
            text-align: center;
            width: fit-content;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
    
        }
    }

    .toggle {

        margin-top: 55px;
        float: right;
        width: fit-content;
        //margin-right: 2rem;
        padding-left: 2rem;
        padding-right: 10px;
        padding-bottom: 0px;
        position: relative;
        margin-bottom: 0px;
        //background-color: lightgreen;

        .cm-toggle{
            -webkit-appearance: none;
	        -webkit-tap-highlight-color: transparent;
	        position: relative;
	        border: 0;
	        outline: 0;
	        cursor: pointer;
	        margin: 10px;
        }

        #onButton::after {
            background-color: red;
        }

        .cm-toggle:after {
            content: '';
            width: 30px;
            height: 14px;
            display: inline-block;
            background: rgba(196, 195, 195, 0.55);
            border-radius: 9px;
            clear: both;
        }

        .cm-toggle:before {
            content: '';
            width: 16px;
            height: 16px;
            display: block;
            position: absolute;
            left: 0;
            top: 2px;
            border-radius: 50%;
            background: rgb(255, 255, 255);
            box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
        }

        #onButton:checked::after {
            background-color: rgb(36, 253, 36);
        }

        .cm-toggle:checked:before {
            left: 16px;
            box-shadow: -1px 1px 3px rgba(0, 0, 0, 0.6);
        }
        /* Background color when toggle button will be active */
        .cm-toggle:checked:after {
            background: #0388e0;
        }

        .cm-toggle,
        .cm-toggle:before,
        .cm-toggle:after,
        .cm-toggle:checked:before,
        .cm-toggle:checked:after {
	        transition: ease .3s;
	        -webkit-transition: ease .3s;
	        -moz-transition: ease .3s;
	        -o-transition: ease .3s;
        }


    }
}
    
    


