<header>
  <!--link href=”https://fonts.googleapis.com/icon?family=Material+Icons” rel=”stylesheet”></link-->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=PT+Sans&display=swap" rel="stylesheet">  
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</header>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<div class="headerContainer">
  
  <div class="inventoLogo">
    <img src="assets/InventoLogo-removebg-preview.png" alt="logo">
  </div>

  <div class="sayHello">
    <h2>Hello! {{docName}}</h2>
  </div>

  <div class="toggle">
    <input id="onButton" type="checkbox" name="radio" class="cm-toggle" [checked] = "onFlag"
      (change)="changeStatus($event)">
    <label id="onLabel" for="onButton">{{status}}</label>
    
    <input id="clinicButton" type="checkbox" name="radio" class="cm-toggle" [checked]="clinicFlag"
      (change)="handleClinic($event)"> Clinic Only
  </div>

  <div class="headerDisplay">
    <img src="assets/doctorAvatar.jpeg" alt="avatar" class="docAvatar">
  </div>

</div>