
<article>
  <div style="display: block;">
    <div id="searchBar" style="display: inline-flex;">
      <mat-form-field appearance="outline" style="height: 80px;">
        <mat-label>Select Date Range</mat-label>
        
        <mat-date-range-input [rangePicker]="picker" [formGroup]="range">
          <input matStartDate placeholder="Start Date" formControlName="start" readonly="readonly">
          <input matEndDate placeholder="End Date" formControlName="end" readonly="readonly">
        </mat-date-range-input>
        
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        
        <mat-date-range-picker #picker></mat-date-range-picker>
      </mat-form-field>
      <!-- <h1>{{range.value.start | date}}</h1>
      <h1>{{range.value.end | date}}</h1> -->
      <h3>Patients Visited</h3>
    </div>

    <div class="tableHolder" #tabH (mouseenter)="enableScrolling()" [style.overflow-y]="flag ? 'scroll':'hidden'"
      (mouseleave)="disableScrolling()" (mouseover)="enableScrolling()">

      <table mat-table [dataSource]="dataSource">
        <ng-container matColumnDef="{{col}}" *ngFor="let col of displayedColumns">
          <div class="tableHeader">
            <th mat-header-cell *matHeaderCellDef>
              {{col}}
            </th>
          </div>
          <td mat-cell *matCellDef="let element">
            {{element[col]}}
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      </table>
    </div>
  </div>
</article>