<body>
    <div class="mainClass" style="background-color: rgb(239, 248, 252);">
        <app-header></app-header>
        <div style="display: inline-flex;">
            <app-upcoming></app-upcoming>
            <app-past></app-past>
        </div>
        <app-analytics></app-analytics>
        <footer style="text-align: center; margin: 10px; padding: 10px;">
            <p>Invento<br>
            <a href="mailto:hege@example.com">hege@example.com</a></p>
        </footer>
          
    </div>
    
</body>
