<div style="display: inline-flex ;">
    <div class="pieChart">
        <!--canvas baseChart 
            height="300" 
            width="500" 
            [datasets]="lineChartData">
        </canvas-->
    </div>
    <div class="analyticsContainer">
        <div class="analyticsBox">
            <div class="boxTop">
                0
            </div>
            <div class="boxBottom">
                Patients Visit Today
            </div>
            
        </div>
        <div class="analyticsBox">
            <div class="boxTop">
                10
            </div>
            <div class="boxBottom">
                In Queue
            </div>
            
        </div>
    </div>
</div>
