.analyticsContainer {
    background-color: skyblue;
    height: fit-content;
    width: fit-content;
    margin: 1rem;
    margin-top: 0.5rem;
    //margin-bottom: 10rem;
    //margin: 15px;
    padding: 3px;
    //border-radius: 10px;
    display: grid;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
    transition: box-shadow 0.3s ease-in-out;

    .analyticsBox{
        background-color: skyblue;
        width: 10rem;
        height: fit-content;
        padding: 5px;
        border-radius: 10px;
        text-align: center;
        font-size: 13px;
        transition: transform .5s;

        .boxTop {
            background-color: rgb(235, 245, 245);
            padding: 5px;
            margin: 5px;
            margin-bottom: 0px;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            border-color: rgb(4, 103, 121);
            border-style: solid;
            
        }

        .boxBottom {
            background-color: rgb(4, 103, 121);
            color: rgb(206, 248, 250);
            padding: 5px;
            margin: 5px;
            margin-top: 0px;
            border-bottom-right-radius: 10px;
            border-bottom-left-radius: 10px;
            border-style: solid;
            border-top: none;
            border-color: rgb(4, 103, 121);
        }

    }

    .analyticsBox:hover {
        transform: scale(1.05);
    }
}

.analyticsContainer:hover {
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.4);
}

.pieChart{
    //height: fit-content;
    height: 180px;
    width: 280px;
    padding: 5px;
    margin: 1rem;
    margin-left: 0rem;
    margin-right: 10px;
    margin-top: 0.5rem;
    border-style: solid;
    border-color: skyblue;
    //background-color: red;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
    transition: box-shadow 0.3s ease-in-out;
    transition: transform 0.4s ease-in-out;
}

.pieChart:hover{
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.4);
    transform: scale(1.01);
}

.lineGraph{
    height: 180px;
    width: min-content;
    padding: 5px;
    margin: 1rem;
    margin-left: 0rem;
    margin-top: 0.5rem;
    margin-right: 0.5rem;
    border-style: solid;
    border-color: skyblue;
    //background-color: red;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
    transition: box-shadow 0.3s ease-in-out;
    transition: transform 0.4s ease-in-out;
    text-align: center;

    canvas{
        width: min-content;
        height: 140px;
    }
    
    h3{
        font-size: 10px;
        padding-top: 0px;
        padding-bottom: 5px;
    }
}

.lineGraph:hover{
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.4);
    transform: scale(1.01);

}

.buttons{
    display: block;
    margin: 10px;
    margin-left: 0px;
    margin-top: 5px;
    //background-color: darkgreen;
    width: fit-content;
    padding: 5px;
    
    .mat-icon{
        vertical-align: middle;
        float: left;
    }

    button{
        background-color:rgb(4, 103, 121);
        color: whitesmoke;
        margin-bottom: 10px;
        width: 100%;
        text-align: center;
        border-radius: 5px;
        height: 35px;
        border-width: 3px;
        border-color: rgb(2, 80, 94);
        box-shadow: 0px 0px 0px 0px rgb(4, 103, 121);
        transition: box-shadow 1s ease-in-out;
        transition: transform 0.4s ease-in-out ;
    }

    button:hover {
        background-color: darken(rgb(4,103,121), 6%);
        //box-shadow: -0px 0px 10px -1px rgb(4, 0, 0);
        transform: scale(1.04);
    }

    .calender{
        display: none;
        position:absolute; 
        height: 20%; 
        width: 30%; 
        top: 40%;
        right: 30%; 
        background-color: beige; 
        padding: 10px;
        padding-top: 25px;
        z-index: 2; 
        border-style: solid;
    }

}


#fullCalender{
    width: fit-content;
    height: fit-content;
    //background-color: darkblue;
    position: absolute;
    top: 50%;
    left: 30%;

}